.contanier_imagem--desktop{
    display: none;
}

.contanier_buttons{
    flex-direction: column;
    gap: 2em;
    background-color:var(--brand200);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    position: absolute;
    right: 0em;
    top: 0em;
    width: 100%;
    height: 8em;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: none;
}
.hidden{
    display:block;
}
.hidden_close{
    display: none;
}

.contanier_header--open{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
}

.contanier_logo--open{
display: flex;
font-size: 1em;
gap: 0.5em;
align-items: center;
}
.contanier_logo--open h1{
    font-size: 1em;
}

.bnt_login{
    background-color: var(--brand200);
    border: 1px solid var(--brand100);
    padding: 0.6em;
    width:120px;
    font-size: 1em;
    font-weight: 700;
    color: var(--brand100);
}
.bnt_cadastro{
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    padding: 0.6em;
    width:120px;
    font-size: 1em;
    font-weight: 700;
    color: var(--brand200); 
}

.contanier_bnt{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    text-align: center;
}

.contanier_nav{
    display: flex;
    width: 100vw;  
}

.contanier_header{
    display: flex;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.contanier_logo{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.contanier_logo h1{
    font-size: 1em;
    font-weight: 600;   
}
.point{
    background-color: rgba(66, 0, 255, 0.5);
    width: 11px;
    height: 11px;
    border-radius: 100%;
}

.menu_mobile{
    display: flex;
    align-items: center;
}

.contanier_right{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   width: 100%;
   display: flex;
   justify-content: center
}
select{
    width: 90%;
    background-color: var(--brand100);
    height: 52px;
    color: var(--brand200);
    font-size: 1.05em;
    text-align: center;
    cursor: pointer;
}
option{
    background-color:#F8F8F8;
    color: var(--black100);
}

.contanier_list{
    display: flex;
    background-color: #F8F8F8;
    list-style: none;
    width: 90%;
    padding: 1em;
    gap: 1em;
    overflow-y: scroll;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.contanier_list li{
    background-color: var(--brand200);
    min-width:241px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    border-bottom: 1px solid var(--brand100);
}

.contanier_list h2{
    font-size: 20px;
    font-weight: 700;
}

.contanier_list p {
    font-size: 16px;
}

.contanier_list span{
    color: var(--brand100);
    border: 1px solid var(--brand100);
    width: 60%;
    text-align: center;
    border-radius: 6em;
    height: auto;
    font-size: 16px;

}


@media(min-width:800px){
    .contanier_nav{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .contanier_header{
        margin: 0 auto;
        padding: 0.5em 8em;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        border: none;
    }

    .contanier_buttons{
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 65px;
        width: auto;
        border: none;
        box-shadow: none;
        width: 100%;
        position: unset;
        justify-content: flex-end;
    }

    .contanier_bnt{
        padding: 0;
        display: flex;
        width:auto;
        flex-direction: row;
        gap: 0.5em;
        align-items: center;  
        background-color: none;
        position: unset;
        
    }

    .contanier_bnt button{
        width: 142px;
        height: 48px;
    }
    .contanier_menu{
        width: 30%;
    }

    .menu_mobile{
        display: none;
    }

    .contanier_header--open{
        display: none;
    }

    .contanier_sections{
        width: 100%;
        max-width: 1440px;
        height: 760px;
        display: flex;
        margin: 0px auto;
        padding: 2em 8em;
        gap:2.6em;
    }

    .contanier_imagem--desktop{
        display: flex;
        width: 50%;
    }
    .contanier_imagem--desktop img{
       width:100%;
       height: 100%;
       max-width: 624px; ;
       
    }

    .contanier_right{
      margin: 0 auto;
      display: flex;
      width: 50%;
      height: auto;
      justify-content: flex-start
    }

    .contanier_right select{
        width: 100%;
        height: 52px;
        padding: 0.8em;
        box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
    }

    .contanier_list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contanier_list li{
        height: 135px;
        display: flex;
        gap: 1em;
    }

    .contanier_list span {
        width: 9.375em;
        padding: 0.1em;
        text-align: center;
    }
    
}

