body{

    background-image:url(/src/assets/img/background\ Desktop.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
}

.contanier_buttons{
    flex-direction: column;
    gap: 2em;
    background-color:var(--brand200);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    position: fixed;
    right: 0em;
    top: 0em;
    width: 100%;
    height: 8em;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: none;
}
.hidden{
    display:block;
}
.hidden_close{
    display: none;
}

.contanier_header--open{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
}

.contanier_logo--open{
display: flex;
font-size: 1em;
gap: 0.5em;
align-items: center;
}
.contanier_logo--open h1{
    font-size: 1em;
}

.bnt_login{
    background-color: var(--brand200);
    border: 1px solid var(--brand100);
    padding: 0.6em;
    width:120px;
    font-size: 1em;
    font-weight: 700;
    color: var(--brand100);
}
.bnt_cadastro{
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    padding: 0.6em;
    width:120px;
    font-size: 1em;
    font-weight: 700;
    color: var(--brand200); 
}

.contanier_nav{
    display: flex;
    width: 100vw;  
}

.contanier_header{
    display: flex;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--brand200);
}

.contanier_logo{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.contanier_logo h1{
    font-size: 1em;
    font-weight: 700;   
}
.point{
    background-color: rgba(66, 0, 255, 0.5);
    width: 11px;
    height: 11px;
    border-radius: 100%;
}

.menu_mobile{
    display: flex;
    align-items: center;
}

.contanier_main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.95) ;
    margin: 2em auto;
    padding: 2em 1em;
    
}

input{
    width: 100%;
    height: 52px;
    padding: 0.5em;
    color:rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

select{
    width: 100%;
    height: 52px;
    padding: 0.5em;
    color:rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

button{
    width: 100%;
    height: 48px;    
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    text-align: center;
}

.contanier_bnt{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    text-align: center;
}

.bnt_cadastre-se{
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    color: var(--brand200);
    font-size: 18px;
    font-weight: 600;
}

.bnt_Home{
    background-color: var(--brand200);
    border: 1px solid var(--brand100);
    color: var(--brand100);
    font-size: 18px;
    font-weight: 600;
}

.bnt_login{
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    color: var(--brand200);
    font-size: 18px;
    font-weight: 600;
}

.bnt_home{
    background-color: var(--brand200);
    border: 1px solid var(--brand100);
    color: var(--brand100);
    font-size: 18px;
    font-weight: 600;
    width: 120px;
}

@media(min-width:800px){
    
    .contanier_header{
        padding: 0.5em 5em;
        align-items: center;
        width: 100%;

    }

    .contanier_buttons{
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 65px;
        width: auto;
        border: none;
        box-shadow: none;
        width: 100%;
        position: unset;
        justify-content: flex-end;
    }

    .contanier_bnt{
        padding: 0;
        display: flex;
        width:auto;
        flex-direction: row;
        gap: 0.5em;
        align-items: center;  
        background-color: none;
        position: unset;
        
    }

    .contanier_bnt button{
        width: 142px;
        height: 48px;
    }
    .contanier_menu{
        width: 30%;
    }

    .menu_mobile{
        display: none;
    }

    .contanier_header--open{
        display: none;
    }

    .contanier_main{
        margin: 7em auto;
        width: 40%;
        max-width: 450px;
        height: auto;
        padding: 1.5em;
    }
     
    .contanier_bnt_form{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    
}